body {
    background-color: #ffea00;
    color: #fffcdf;
    text-align: center;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    /* box-shadow: 0 0 0 4px #0015ff; */
}

.jumbotron {
    background-color: #bfb540;
}

.btn-primary,
.btn-primary:hover,
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fffcdf;
    background-color: #0015ff;
    border-color: #0015ff;
    padding: 10px 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fffcdf;
    background-color: #0015ff;
    border-color: #0015ff;
    box-shadow: 0 0 0 0.2rem #0015ff;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

/* Loader */
.loader {
    display: inline-block;
    border: 16px solid #fffcdf; /* Light grey */
    border-top: 16px solid #0015ff; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
